<ion-view view-title="Practice">
  <ion-content>
    <div class="row">
      <h4>Question<h4>
    </div>
    <div class="row">
      <button class="button button-outline button-calm button-practice-ques"><h3>{{counter}}</h3></button>
      <h2> x </h2>
      <button class="button button-outline button-calm button-practice-ques"><h3>{{multipliee}}</h3></button>  
    </div>
    <hr>
    <div class="row">      
      <h4>Select answer</h4>
    </div>
    <div class="row">
      <div class="col" ng-repeat="ans in answerPool">
        <button class="button button-small button-counter button-energized button-practice-ans" ng-click="tryAnswer(ans, answerCorrect)"><h2>{{ans}}</h2></button>
      </div>
    </div>
    <div class="row">
      <div class="col-50 col-offset-25">
        <button ng-class="{'button icon-left ion-checkmark-round button-balanced button-ans': correct == 1, 
                           'button icon-left ion-close-round button-assertive button-ans': correct == -1, 
                           'button button-ans': correct == 0}" ng-click="nextQuestion()">{{answerText}}</button>        
      </div>
    </div>
  </ion-content>
</ion-view>
