<ion-view view-title="Times Table">
  <ion-content class="padding">  
    <div class="row">
      <div ng-repeat="(counter, color) in firstRowCounters" class="col" ng-click="showTable(counter, color)">
        <button class="button button-small button-counter button-{{color}}"><h2>{{counter}}<h2></button>
      </div>
    </div>
    <div class="row">
      <div ng-repeat="(counter, color) in secondRowCounters" class="col" ng-click="showTable(counter, color)">
        <button class="button button-small button-counter button-{{color}}"><h2>{{counter}}<h2></button>
      </div>
    </div>
    <div class="row">
      <div class="col times-table">
          <div class="item item-body times-table-learn ng-hide" ng-show="tableVisible">        
            <div><button class="button button-outline button-{{counterColor}}">{{counter}} x 1 = {{counter * 1}}</button></div>
            <div><button class="button button-outline button-{{counterColor}}">{{counter}} x 2 = {{counter * 2}}</button></div>
            <div><button class="button button-outline button-{{counterColor}}">{{counter}} x 3 = {{counter * 3}}</button></div>
            <div><button class="button button-outline button-{{counterColor}}">{{counter}} x 4 = {{counter * 4}}</button></div>
            <div><button class="button button-outline button-{{counterColor}}">{{counter}} x 5 = {{counter * 5}}</button></div>
            <div><button class="button button-outline button-{{counterColor}}">{{counter}} x 6 = {{counter * 6}}</button></div>
          </div>
      </div>      
      <div class="col times-table">
          <div class="item item-body times-table-learn ng-hide" ng-show="tableVisible">        
            <div><button class="button button-outline button-{{counterColor}}">{{counter}} x 7 = {{counter * 7}}</button></div>
            <div><button class="button button-outline button-{{counterColor}}">{{counter}} x 8 = {{counter * 8}}</button></div>
            <div><button class="button button-outline button-{{counterColor}}">{{counter}} x 9 = {{counter * 9}}</button></div>
            <div><button class="button button-outline button-{{counterColor}}">{{counter}} x 10 = {{counter * 10}}</button></div>
            <div><button class="button button-outline button-{{counterColor}}">{{counter}} x 11 = {{counter * 11}}</button></div>
            <div><button class="button button-outline button-{{counterColor}}">{{counter}} x 12 = {{counter * 12}}</button></div>
          </div>
      </div> 
    </div>
    <div class="row">
      <div class="col"><button class="button button-full button-balanced" ng-show="tableVisible" ng-click="practice(counter)">Practice</button></div>
    </div>
  </ion-content>
</ion-view>
