<ion-view view-title="Account">
  <ion-content>
  	<div class="row">
 	  <div class="col">
 	  	<div>
 	  		<button ng-repeat="level in levels" ng-class="{'button button-calm button-level': (level.value == currentLevel.value),
 	  		                                               'button button-royal button-level': (level.value != currentLevel.value && !level.completed),
 	  		                                               'button button-balanced button-level': (level.value != currentLevel.value && level.completed)}" 
 	  		                                               value="{{level.value}}" ng-click="getLevelQuestions({{level.value}})">{{level.name}}</button>
 	  	</div>
 	  	<div ng-repeat="quiz in questions track by $index">
 	  		<div class="row">
      			<h5>Question ({{numberOfQuestionAskedInCurrentLevel + 1}}/{{currentLevel.quizLimit}})<h5>
    		</div>
    		<div class="row">
		      	<button class="button button-outline button-calm button-practice-ques"><h3>{{quiz.multiplier}}</h3></button>
		      	<h2> x </h2>
		      	<button class="button button-outline button-calm button-practice-ques"><h3>{{quiz.currentCounter}}</h3></button>  
		    </div>
		    <hr /> 	  		
		    <div class="row">      
		    	<div class="col">
		    		<h5>Select answer</h5>
		    	</div>
		    	<div class="col">
		    		<h6>Time remain: {{timer}}</h6>			    		
		    	</div>
    		</div>
			<div>
 	  		    <button ng-repeat="ans in quiz.answerPool track by $index" class="button button-small button-counter button-energized button-practice-ans" ng-click="tryAnswer(ans, quiz.correctAnswer)"><h2>{{ans}}</h2></button>			  
 	  	  	</div> 	
 	  	  	<div class="row">
		      <div class="col">
		        <button ng-class="{'button icon-left ion-checkmark-round button-balanced button-ans': correct == 1, 
		                           'button icon-left ion-close-round button-assertive button-ans': correct == -1, 
		                           'button button-ans': correct == 0,
		                           'button button-ans button-positive': correct == 100}" ng-click="nextQuestion()">{{answerText}}</button>        
		      </div>
		    </div>
 	  	</div> 	  	
	    <div class="row">
	    	<div class="col">
	    		<h4 ng-show="timeout == true" class="timeout-message">You have taken more than expected. Try again.</h4>
	    	</div>
	    </div> 	  	
 	  </div>  
  	</div>
  </ion-content>
</ion-view>
