/* Empty. Add your own CSS if you like */
.button-counter {
	width: 55px; 
}

.button-practice-ques {
	width: 55px; 
	margin-left: 10px;
	margin-right: 10px;
}

.button-practice-ans {
	height: 75px;
	width: 75px;
}

.button-ans {
	width: 200px;
}

.button-next-multiplier {
	width: 200px;	
	margin-top: 10px;
}

.times-table .button-outline {
	width: 100%;
}	

.times-table-learn {
	padding: 5px;
}

